# Python bytecode files
*.pyc
__pycache__/

# Virtual environments
env/
venv/
ENV/

# Django database file
clinical_data.db

# Django static files (collected for production)
staticfiles/

# macOS-specific files
.DS_Store

# IDE/editor configs
.vscode/
.idea/